<%= form_for(@house) do |f| %>
  	<%= render 'shared/house_error_messages' %>

  	
	<%= f.label :house_type %>
	<%= f.select :house_type, ['', 'Detached', 'Semi-detached', 'Town'], {}, class: 'form-control' %>
	
	<%= f.label :room %>
	<%= f.select :room, ['', 0, 1, 2, 3, 4, 5], {},class: 'form-control' %>

	<%= f.label :bathroom %>
	<%= f.select :bathroom, ['', 0, 1, 2, 3, 4, 5], {},class: 'form-control' %>
	
	
	
	<%= f.label :price, "Price" %>
	<%= f.text_field :price, class: 'form-control' %>

	<%= f.label :description, "Description" %>
	<%= f.text_area :description , class: 'form-control', placeholder: "Leave a description.. " %>
	<div class="button_div">
	<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>
<% end %>