<%= provide(:title, "House Info") %>
<h1>House Info</h1>
<div class="container">

		<div class="ticket_info_container">
			<%= image_tag @house.image.url(:medium)%>
			<h2>House Id: <%= @house.id %></h2>
			<h2>Owner Name: <%= @house.user.name %> </h2>
			<h2>Owner Email: <%= @house.user.email %> </h2>
			<h2>Price : $<%= @house.price %></h2>
			<h2>House Type : <%= @house.house_type %></h2>
			<h2>Bathrooms : <%= @house.bathroom %></h2>
			<h2>Bedrooms : <%= @house.room %></h2>
			<h2>Description : <%= @house.description %></h2>
		</div>
	<% if current_user.id == @house.user_id %>
		<div class="button_div">
			<%= link_to "Edit", edit_house_path(@house), class: "btn btn-lg btn-primary" %>
		</div>
	
	<% end %>
</div>

